.content{    
    border-top: 2px solid #01A86C;
    padding-top: 1% ; 
    padding-bottom: 1%;
}



.name{
    flex: 4;
    display: flex;
    font-weight: bold;
    align-items: center;    
}

.id{
    flex: 3;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.isActive{
    flex: 3;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.button{
    flex: 2;
    display: flex;
    align-items: center;
}


.text{
    color: var(--text)
}