.content{
    /* background-color: aquamarine; */
    margin-top: 1%;
    border-top: 2px solid #01A86C;
    padding-top: 1% ;    
}

.user{
    flex: 2;    
}

.image{
    border-radius: 15px;
}

.noImage{
    border-radius: 15px;
    color: #01A86C;
}

.infoUser{
    align-items: start;
    height: 70%;
    margin-left: 5%;
}

.nameUser{
    height: 70%;
    font-size: large;
    font-weight: bold;
}

.uid{
    height: 70%;
    color: #A0AEC0;
}

.email{
    height: 70%;
    color: #A0AEC0;
}

.address{
    flex: 1;
    color: #728198;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.ative{
    flex: 1;
    display: flex;
    align-items: center;
}

.admin{
    flex: 1;
    display: flex;
    align-items: center;
}

.banned{
    flex: 1;
    display: flex;
    align-items: center;
}

.edit{
    flex: 1;
    display: flex;
    align-items: center;
}

.fillEdit{
    color: #01A86C;
}
/* ===================================================== */

.numOrder{
    flex: 1;
    display: flex;
    align-items: center;
}

.items{
    flex: 1;
    display: flex;
    align-items: center;
}

.amount{
    flex: 1;
    display: flex;
    align-items: center;
}

.amount{
    flex: 1;
    display: flex;
    align-items: center;
}

.status{
    flex: 1;
    display: flex;
    align-items: center;
}

.paymentMethod{
    flex: 1;
    display: flex;
    align-items: center;
}

.date{
    flex: 1;
    display: flex;
    align-items: center;
}