.content{
    margin-left: 18%;
    margin-top: 5%;
    margin-right: 5%;
    height: auto !important;
    background-color: var(--bg) !important;
    border: 2px solid transparent;
    box-shadow: 5px 10px 30px #01A86C;
    border-radius: 25px;    
    padding: 1%;
    margin-bottom: 5%;
    max-height: 70vh;
    overflow-y: auto;
}

.user{
    flex: 2; 
    font-weight: bold; 
    color: #01A86C;    
}

.address{
    flex: 1;
    font-weight: bold;
    color: #01A86C;
}

.ative{
    flex: 1;
    font-weight: bold;
    color: #01A86C;
}

.admin{
    flex: 1;
    font-weight: bold;
    color: #01A86C;
}

.banned{
    flex: 1;
    font-weight: bold;
    color: #01A86C;
}

.edit{
    flex: 1;
    font-weight: bold;
    color: #01A86C;
}

.claroOscuroAdmin{
    background-color: var(--bg) !important;
}