body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.LandingPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.carrusel {
    width: 80%;
    height: 30%;
    margin-top: 9rem;
    margin-left: 9rem;
    justify-content: center;
}

.recomendados {
    width: 80%;
    margin-left: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 9rem;
    margin-bottom: 5rem;
}













/* ####### RESPONSIVE ######## */

/* @media screen and (max-width: 1920px){
    .carrusel {
        width: 85%;
        margin-left: 10rem;
    }
    .recomendados {
        margin-left: 12rem;
    }
    
} */



@media screen and (max-width: 860px){

    .carrusel {
        margin-top: 6rem;
        margin-left: 5rem;
    }

    .recomendados {
        width: 85%;
        margin-left: 3rem;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }
}


@media (max-width: 710px) {

    .carrusel {
        margin-top: 7rem;
        margin-left: 3.5rem;
    }

    .recomendados {
        width: 70%;
        margin-left: 7rem;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }
}