body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.LandingPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.carrusel {
    width: 80%;
    height: 30%;
    margin-top: 9rem;
    margin-left: 11rem;
    justify-content: center;
}

.recomendados {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 9rem;
    margin-bottom: 5rem;
}


.recomendadosCards {
    margin-top: 3rem;
    width: 80rem;
    height: 25rem;
}
