/* 
.icono{
    position: absolute;
    top: -3rem;
    right: -1rem;
} */
body{
    background-color: var(--bg) !important;
}

.claroOscuroAdmin{
    height: 100% !important;
    background-color: var(--bg) !important;
}

.claroOscuro{
    height: auto !important;
    background-color: var(--bg) !important;
}

.contentCharts{
    margin: 0 3% 3% 18%;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 5px 10px 30px #01A86C;
    
}

.contentUserCategories{ 
    margin: 5% 0 0 0;
    display: flex;
    justify-content: space-around;
}