.mensajeVacio{
    color: var(--text)
}

.nombre{
    font-weight: 500;
    font-size: 18px;
    color: var(--text)
}

.descrption{
    font-weight: lighter;
    font-size: 18px;
    color: var(--text)
}

@media screen and (max-width: 844px) {

    .contenedor{
        margin-left: 1.5rem;
    }


    .mensajeVacio{
        color: var(--text);
    }
    
    .nombre{
        font-weight: 500;
        font-size: 18px;
        color: var(--text)
    }
    
    .descrption{
        font-weight: lighter;
        font-size: 18px;
        color: var(--text)
    }
}

