body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.detail {
    height: 300%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.container {
    margin-top: 7rem;
    margin-left: 3rem;
    height: 70%;
    width: 90%;
    display: flex;
    margin-bottom: 7rem;
    justify-content: space-around;
}

.containerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;
    justify-content: space-around;
}

.img1 {
    height: 300px;
    width: 300px;
}

.img {
    margin-top: 2rem;
    align-items: center;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.img2 {
    height: 150px;
    width: 150px;
    margin-right: 1rem;
}


.conteiner2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}



.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 94%;
    height: 80%;
    padding-right: 5rem;
}


.title {
    font-weight: bolder;
    font-size: 30px;
    justify-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #01A86C
}


.datos {
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: var(--text)
}

.active {
    /* font-family: Quicksand; */
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: #4083d6
}


.description {
    width: 100%;
    margin-top: 0.5rem;
    /* font-family: Quicksand; */
    font-size: 15px;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    color: var(--text);
}

.compra {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.compra1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.precio {
    /* font-family: Quicksand; */
    font-weight: bolder;
    font-size: 43px;
    color: var(--text)
}

.stockItems {
    display: flex;
}

.stock {
    /* font-family: Quicksand; */
    font-weight: bolder;
    font-size: 22px;
    margin-right: 0.5rem;
    color: var(--text)
}

.NumeroStock {
    /* font-family: Quicksand; */
    font-size: 22px;
    color: var(--text)
}

.botones {
    height: 100%;
    width: 60%;
    display: flex;
}


.carrito {
    height: 100%;
    width: 50%;
    padding-left: 1rem;
}

.carrito2{
    height: 100%;
    width: 50%;
    padding-left: 1rem;
}

.boton {
    margin-top: 2rem;
    background-color: #01A86C;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    padding-right: 29px;
}

.carritoCompra {
    position: absolute;
    top: 87%;
    right: 27%;
}


.boton:hover {
    background-color: #11875c;
}



.borrados {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonBorradoLogico {
    margin-top: 0.3rem;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 2px solid #01A86C;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 8px;
    color: #01A86C;
    margin-left: 2rem;
}

/* disable --> true */
.botonBorradoLogicoDes {
    border: 2px solid red;
    color: red;
}



.botonBorrado {
    margin-top: 0.3rem;
    width: 100px;
    height: 40px;
    background-color: red;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 8px;
    margin-left: 2rem;
}


.botonBorrado:disabled {
    background-color: #7d7d7d;
}

.botonDisabled {
    background-color: #7d7d7d;
}

.botonDisabled:hover {
    background-color: #7d7d7d;
    cursor: not-allowed;
}

.editar {
    width: 100px;
    height: 40px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #4ea1ea;
    color: #4ea1ea
}

.editar:hover {
    background-color: #4ea1ea;
    color: white
}

.review {
    margin-top: 6rem;
    margin-left: 6rem;
    width: 80%;
    height: auto;
    justify-content: center;
    /* border: 2px solid #adadad; */
}

.recomendados {
    margin-top: 10rem;
    margin-left: 8rem;
    width: 80%;
    height: 25rem;
}





/* ####### RESPONSIVE ######## */

@media screen and (max-width: 1200px) {

    .detail {
        height: 300%;
        width: 100%;
    }

    .container {
        margin-left: 3rem;
        height: 70%;
        margin-bottom: 7rem;
    }

    .containerItems {
        margin-top: 3rem;
    }


    .img1 {
        height: 250px;
        width: 250px;
    }

    .img {
        width: 70%;
    }

    .img2 {
        height: 100px;
        width: 100px;
        margin-right: 1rem;
    }

    .conteiner2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        height: 100%;
    }

}






@media screen and (max-width: 950px) {

    .precio {
        font-size: 35px;
    }

}


@media (max-width: 790px) {

    .detail {
        height: 300%;
        width: 100%;
    }

    .container {
        margin-left: 3rem;
        height: 70%;
        margin-bottom: 7rem;
    }

    .containerItems {
        margin-top: 3rem;
    }


    .img1 {
        height: 200px;
        width: 200px;
    }

    .img {
        width: 70%;
    }

    .img2 {
        height: 80px;
        width: 80px;
    }

    .conteiner2 {
        margin-left: 2rem;
    }

    .compra {
        flex-direction: column;
    }


    .botones {
        width: 80%;
    }

}



@media screen and (max-width: 844px) {



    .detail {
        /* height: 300vh; */
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--bg);
    }

    .container {
        margin-top: 5rem;
        margin-left: 1rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 7rem;
        justify-content: space-around;
    }

    .containerItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    .img1 {
        height: 300px;
        width: 300px;
    }

    .img {
        margin-top: 2rem;
        align-items: center;
        width: 95%;
        display: flex;
        justify-content: space-around;
    }

    .img2 {
        display: none;
    }


    .conteiner2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-left: 2rem;
    }



    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 80%;
        padding-right: 5rem;
    }


    .title {
        width: 14rem;
        font-weight: bolder;
        font-size: 17px;
        justify-items: center;
        margin-left: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: #01A86C;
        text-align: center;
    }


    .datos {
        width: 12rem;
        font-size: 11px;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        color: var(--text)
    }

    .active {
        font-size: 11px;
        margin-bottom: 0.5rem;
        color: #4083d6
    }


    .description {
        width: 18rem;
        margin-top: 0.5rem;
        font-size: 12px;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        text-overflow: ellipsis;
        white-space: wrap;
        overflow: hidden;
        color: var(--text);
    }

    .compra {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .compra1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .precio {
        margin-top: 1rem;
        font-weight: bolder;
        font-size: 30px;
        color: var(--text);
        margin-left: -5rem;
    }

    .stockItems {
        display: flex;
    }

    .stock {
        margin-top: 1rem;
        font-weight: bolder;
        font-size: 22px;
        margin-right: 0.5rem;
        margin-left: -5rem;
        color: var(--text)
    }

    .NumeroStock {
        margin-top: 1rem;
        font-size: 22px;
        color: var(--text)
    }

    .botones {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
    }


    .carrito {
        height: 100%;
        width: 100%;
        margin-top: 1.5rem;
        padding-left: 0rem;
        margin-left: -1rem;
        justify-content: center;
        text-align: center;
    }

    .carrito2{
        height: 100%;
        width: 100%;
        margin-top: 1.5rem;
        padding-left: 1.2rem;
        justify-content: center;
        text-align: center;
    }

    .boton {
        margin-top: 2rem;
        background-color: #01A86C;
        font-weight: 600;
        font-size: 18px;
        border-radius: 8px;
        padding-right: 29px;
    }

    .carritoCompra {
        position: absolute;
        top: 87%;
        right: 27%;
    }


    .boton:hover {
        background-color: #11875c;
    }


    .borrados {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .botonBorradoLogico {
        margin-top: 3rem;
        width: 100px;
        height: 40px;
        background-color: white;
        border: 2px solid #01A86C;
        font-weight: bolder;
        font-size: 13px;
        border-radius: 8px;
        color: #01A86C;
        margin-left: 1rem;
    }

    /* disable --> true */
    .botonBorradoLogicoDes {
        border: 2px solid red;
        color: red;
    }



    .botonBorrado {
        margin-top: 3rem;
        width: 100px;
        height: 40px;
        background-color: #7d7d7d;
        font-weight: bolder;
        font-size: 13px;
        border-radius: 8px;
        margin-left: 0rem;
    }


    .botonBorrado:disabled {
        background-color: #7d7d7d;
    }

    .botonDisabled {
        background-color: #7d7d7d;
    }

    .botonDisabled:hover {
        background-color: #7d7d7d;
        cursor: not-allowed;
    }

    .editar {
        width: 100px;
        height: 40px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        font-weight: bolder;
        font-size: 13px;
        border-radius: 8px;
        background-color: white;
        border: 2px solid #4ea1ea;
        color: #4ea1ea
    }

    .editar:hover {
        background-color: #4ea1ea;
        color: white
    }

    .review {
        margin-top: 6rem;
        margin-left: 2rem;
        width: 85%;
        height: auto;
        justify-content: center;
    }

    .recomendados {
        margin-top: 10rem;
        width: 85%;
        height: 75rem;
        margin-left: 2rem;
    }
}