.content{
    /* background-color: aquamarine; */
    margin-left: 18%;
    margin-top: 5%;
    margin-right: 5%;

}

.numOrder{
    flex: 1; 
    font-weight: bold; 
    
}



.items{
    flex: 1;
    font-weight: bold;
    
}

.amount{
    flex: 1;
    font-weight: bold;
}

.status{
    flex: 1;
    font-weight: bold;
}

.paymentMethod{
    flex: 1;
    font-weight: bold;
}

.date{
    flex: 1;
    font-weight: bold;
}

