.containerRating{
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    justify-content: center;
    width: 17rem;
    justify-content: space-evenly;
}

.star{
    font-size: 2rem;
}


@media screen and (max-width: 844px) {

    .containerRating{
        margin-top: 15px;
        margin-left: 1px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 15rem !important;
        justify-content: space-evenly;
    }
    
    .star{
        font-size: 3rem !important;
    }
}
