.content{    
    border-top: 2px solid #01A86C;
    padding-top: 1% ; 
    padding-bottom: 1%;
}

.content:hover{
    background-color: #01A86C;
}

.bookRow{
    flex: 3;
    display: flex;
    align-items: center;    
}

.author{
    flex: 1;
    display: flex;
    align-items: center;
}

.categories{
    flex: 1;
    display: flex;
    align-items: center;
}

.rating{
    flex: 1;
    display: flex;
    align-items: center;
}

.price{
    flex: 1;
    display: flex;
    align-items: center;
}