body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 90%;
    border-top: 2px solid #D9D9D9;
    margin-left: 4rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.h3 {
    display: flex;
    margin-top: 1rem;
    color: #01A86C;
    /* font-family: Quicksand; */
    font-weight: bolder;
    font-size: 18px;
}






/* ####### RESPONSIVE ######## */

/* @media screen and (max-width: 1920px){

    
} */



@media screen and (max-width: 860px) {


    .container {
        width: 93%;
        margin-left: 2rem;
        gap: 8rem;
    }

    .h3 {
        font-size: 14px;
    }

    .btnLightDark {
        right: 3rem;
        top: 5rem
    }


}


@media (max-width: 710px) {

    .container {
        margin-left: 1.5rem;
        margin-left: 2rem;
        gap: 6rem;
    }


}