body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 90%;
    border-top: 2px solid #D9D9D9;
    margin-left: 4rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.h3 {
    display: flex;
    margin-top: 1rem;
    color: #01A86C;
    /* font-family: Quicksand; */
    font-weight: bolder;
    font-size: 18px;
}


.responsiveContainer{
    display: none !important;
}



/* ####### RESPONSIVE ######## */


@media screen and (max-width: 860px) {


    .container {
        width: 93%;
        margin-left: 2rem;
        gap: 8rem;
        
    }
    
    .h3 {
        font-size: 14px;
    }
    
}


@media (max-width: 710px) {
    
    .container {
        margin-left: 1.5rem;
        margin-left: 2rem;
        gap: 6rem;
    }

}

@media (max-width: 844px) {

    .container{
        display: none;
    }

    .containerResponsiveMenu{
        background-color: var(--bg) !important;
        z-index: 100 !important;
    }

    .responsiveContainer{
        display: inline !important;
        width: 2rem !important;
        height: 3rem;
        position: absolute;
        top: -12.5rem;
        left: 18rem;
        border: 2px solid #01A86C;
        background-color: var(--bg) !important;
        z-index: 1 !important;
    }

    .responsiveBoton{
        width: 2rem !important;
        margin-left: -0.9rem;
    }

    .menuLista{
        background-color: var(--bg) !important;
        color: #01A86C !important;
        border: 2px solid var(--bg) !important;
    }

    
    
}