
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.input{
    background-color: var(--bg);
    border: 3px solid var(--linkSearchBar);
    color: var(--text) !important;
    z-index: -1 !important;
}