body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.TableContainer{
    width: 95%;
    height: auto;
    overflow-y: scroll;
}


.comentarios{
    color: var(--text) !important;
    font-size: 14px !important;
    font-weight: bolder;
}

.titulo{
    color: var(--text) !important;
    font-size: 16px !important;
    font-weight: bolder;
}

.info{
    color: var(--text) !important;
    font-size: 14px !important;
    font-weight: bolder; 
}

.item{
    color: var(--text);
    font-size: 14px;
}




      /* RESPONSIVE */

@media screen and (max-width: 844px) {



    .TableContainer{
        width: 90%;
        height: auto;
        overflow-y: scroll;
        margin-left: 1rem;
    }
    
    
    .comentarios{
        color: var(--text) !important;
        font-size: 14px !important;
        font-weight: bolder;
    }
    
    .titulo{
        color: var(--text) !important;
        font-size: 12px !important;
        font-weight: bolder;
    }
    
    .info{
        color: var(--text) !important;
        font-size: 14px !important;
        font-weight: bolder; 
    }
    
    .item{
        color: var(--text);
        font-size: 14px;
    }
    

}