

.content{
    /* background-color: aquamarine; */
    margin-left: 18%;
    margin-top: 1%;
    margin-right: 5%;

    border: 2px solid black;
    border-radius: 25px;
    padding: 1%;

}

/* CABECERA ORDENES DE PAGO */
.numOrder{
    flex: 1; 
    font-weight: bold; 
    
}

.items{
    flex: 1;
    font-weight: bold;
    
}

.amount{
    flex: 1;
    font-weight: bold;
}

.status{
    flex: 1;
    font-weight: bold;
}

.paymentMethod{
    flex: 1;
    font-weight: bold;
}

.date{
    flex: 1;
    font-weight: bold;
}

.edit{
    flex: 1;
    font-weight: bold;
}



/* ROWS ORDENES DE PAGO  */
.contentRow{
    /* background-color: aquamarine; */    
    margin-top: 1%;
    padding-top: 1% ;    
}

.numOrderRow{
    flex: 1;
    display: flex;
    align-items: center;
}

.amountRow{
    flex: 1;
    display: flex;
    align-items: center;
}

.amountRow{
    flex: 1;
    display: flex;
    align-items: center;
}

.statusRow{
    flex: 1;
    display: flex;
    align-items: center;
}

.paymentMethodRow{
    flex: 1;
    display: flex;
    align-items: center;
}

.dateRow{
    flex: 1;
    display: flex;
    align-items: center;
}

.editRow{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* CABECERA LIBROS  */
.book{
    flex: 3;
    font-weight: bold;
}

.price{
    flex: 1;
    font-weight: bold;
}

.quantity{
    flex: 1;
    font-weight: bold;
}

.total{
    flex: 1;
    font-weight: bold;
}

/* ROWS LIBROS */

.contentBook{
    /* background-color: aquamarine; */
    margin-top: 1%;
    border-top: 2px solid #01A86C;
    padding-top: 1% ;    
}

.bookRow{
    flex: 3;
    display: flex;
    align-items: center;
    
}

.title{
    height: 30%;
    padding-left: 5%;
    padding-right: 8%;
    font-weight: bold;
}

.price{
    flex: 1;
    display: flex;
    align-items: center;
}