
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.carrusel-2{
    width: 90%;
    margin-left: 3rem;
}



@media screen and (max-width: 844px){

    .carrusel-2{
        width: 14rem;
        margin-left: 0rem;
    } 
        
}